@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<div class="mt-4">
    <h1 class="text-danger">Access denied</h1>
    <p class="lead">You are signed in, but you do not have permission to open this page.</p>
    <p>Please return to your dashboard or sign in with an account that has the required access.</p>
    <a class="btn btn-primary" href="/">Go to dashboard home</a>
</div>
