@page "/Account/ForgotPassword"

<PageTitle>Forgot your password?</PageTitle>

<h1>Forgot your password?</h1>
<h2>Password recovery is not enabled yet.</h2>
<hr />
<p class="lead">
    This project does not send password-reset emails in Phase 1.
</p>
<p>
    If you are signed in, use <a href="Account/Manage/ChangePassword">Change Password</a>.
    If you are signed out, ask an administrator to help until email delivery is implemented.
</p>
<p>
    <a class="btn btn-primary" href="Account/Login">Back to sign in</a>
</p>
